[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesianVARs"]
	path = bayesianVARs
	url = https://github.com/luisgruber/bayesianvars
